.fl {
  float: left;
}

.cf {
  clear: both;
}

.bs {
  box-sizing: border-box;
}

button {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  outline: none;
  border: none;
  margin: 5px;
  cursor: pointer;
  padding: 0 10px;
}

a {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
}

.clearfix :after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}